---
pagination:
  data: dsDoTuoi
  size: 1
  alias: nhomLoc
layout: layouts/loc.njk
urlCha: /do-tuoi/
tenCha: Độ tuổi
boSuuTap: theoTuoi
eleventyComputed:
  title: "Con {{ nhomLoc.ten }}"
  mo_ta: "{{ nhomLoc.mo_ta }}"
permalink: "/do-tuoi/{{ nhomLoc.ma }}/"
---
